.tvh-logo{
	width: 100px;
    height: unset !important;
    background: #fff !important;
    padding: 10px;
}
.tvh-make-life-easy i{
	font-size: 60px;
    color: #0c072e;
}
.tvh-make-life-easy p{
	color: #fff;
    font-size: 16px;
    margin-top: 10px;
}
.p-align{

}
.p-align p{
	margin: 20px 0;
	color: #fff;
}
p{
	text-align: justify;
	line-height: 30px;
}
.m-tb-30{
	margin: 30px 0;
}
.mt-30{
	margin-top: 30px;
}
.mt-20{
	margin-top: 20px;
}
select{
	border-radius: 0px;
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  height: 40px;
  padding-left: 18px;
  font-size: 13px;
  color: #8f8f8f;
  width: 100%;
  outline: none;
}