.tvh-logo{
	width: 100px;
    height: unset !important;
    background: #fff !important;
    padding: 10px;
}
.tvh-make-life-easy i{
	font-size: 60px;
    color: #0c072e;
}
.tvh-make-life-easy p{
	color: #fff;
    font-size: 16px;
    margin-top: 10px;
}
.p-align{

}
.p-align p{
	margin: 20px 0;
	color: #fff;
}
p{
	text-align: justify;
	line-height: 30px;
}
.m-tb-30{
	margin: 30px 0;
}
.mt-30{
	margin-top: 30px;
}
.mb-30{
  margin-bottom: 30px;
}
.mt-20{
	margin-top: 20px;
}
select{
	border-radius: 0px;
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  height: 40px;
  padding-left: 18px;
  font-size: 13px;
  color: #8f8f8f;
  width: 100%;
  outline: none;
}
.completed-projects-details{
  padding: 10px;
  border: 2px solid;
  text-align: center;
  border-top: 0;
  margin-bottom: 30px;
}
.completed-projects-details label{
  display: block;
}
.contact-info-container{
  max-width: 320px;
  background: #fff;
  padding: 10px;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}
.contact-info-container span{

}
.contact-info-container span i{
  color: #970e76;
  font-size: 24px;
  padding: 0 10px;
  vertical-align: middle;
}
.contact-info-container span a{

}
.hero__slide img{
  height: 700px;
  width: 100%;
}
.hero__slideContent{
  left: 57%;
  bottom: 100px;
}
.tvh-make-life-easy i{
  color: #fff;
}
.canvus_menu .toggle_icon span, .canvus_menu .toggle_icon span::before, .canvus_menu .toggle_icon span::after{
  background: #fff;
}
.hero__slideContent--right, .hero__slideContent:before{
  -webkit-clip-path: polygon(58% 0, 65% 6%, 94% 6%, 94% 38%, 100% 43%, 100% 0);
}
.livprop_popup{
  bottom: 75px;
}
.hero__slideContent_mobile{
  display: none;
}
/*style for safari and crome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .canvus_menu
    {
        padding-bottom: 70px;
        position: fixed;
    }
}
/* style for mobile */
@media only screen and (max-width: 600px) {
  .contact-info-container{
    bottom: 0;
    width: 100%;
    top: unset;
    border-radius: 0;
  }
  .footer__bottom{
    margin-bottom: 50px;
    text-align: center;
  }
  .hero__slideContent{
    left: 50%;
    bottom: 60px;
  }
  .livprop_popup{
    bottom: 45px;
  }
  .footer__bottom{
    margin-bottom: 80px;
  }
  .hero__slide img{
    height: 350px;
  }
  .hero__slideContent{
    display: none;
  }
  .hero__slideContent_mobile{
    display: block;
    background: #000000ad;
    text-align: center;
    position: relative;
    bottom: 70px;
    color: #fff;
  }
  .hero__slideContent_mobile h1{

  }
}
